In [16]:
import sqlite3
import pandas as pd
from twitter.nlp_util import process_tweet

# Create your connection.
cnx = sqlite3.connect('db.sqlite3')

df = pd.read_sql_query(
    "SELECT id, conversation_id, created_at, text, tn_level, tn_order FROM delab_tweet", cnx)

df.head(3)

,id,conversation_id,created_at,text,tn_level,tn_order
0,1,1426273610289848324,2021-08-13 20:05:02,"☀️ ☀️ We've said it a lot this summer, but if ...",1,0
1,2,1426273610289848324,2021-08-16 14:43:39,@RedCrossCasc @OregonGovBrown @211info Biggest...,2,1
2,3,1426273610289848324,2021-08-16 14:37:31,@RedCrossCasc @OregonGovBrown @211info You are...,2,2

We are now tokenizing the texts the same as in the sentiment analysis.

In [18]:
processed_texts = df["text"].apply(lambda x: process_tweet(x))
processed_texts.head(3)

0    [☀, ️, ☀, ️, we'v, said, lot, summer, home, ge...
1    [biggest, scandal, world, oregonian, histori, ...
2    [lie, delta, proof, ..., ask, governor, take, ...
Name: text, dtype: object