In [1]:
cd ..

/home/pauline/Dokumente/Delab_Projekt/delab

In [2]:
from util.sql_switch import get_query_native

tweet_text = get_query_native(
    "SELECT ta.id as author_id, conversation_id, text, screen_name , is_climate_author, climate_author_type FROM delab_tweet t, delab_tweetauthor ta WHERE t.author_id=ta.twitter_id")
tweet_text = tweet_text.loc[tweet_text['is_climate_author']== True]
tweet_text.head()

using postgres

/home/pauline/Dokumente/Delab_Projekt/delab/venv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,author_id,conversation_id,text,screen_name,is_climate_author,climate_author_type
12,1618,1104050523089580034,"The level of carbon now in the atmosphere hasn’t been seen in 12 million years and this pollution is rapidly pushing the climate back to its state in the Eocene, more than 33 million years ago when there was no ice on either pole. Time for carbon #drawdown https://t.co/zJWKadIvKR",climate_ice,True,scientist
14,1619,1598785179417399296,"On air pollution, aging, and how it compromises our ability to fight infections\nhttps://t.co/dipDS37QBo\n@NatureMedicine",EricTopol,True,scientist
15,1619,1593290345646694401,"Strong evidence that particulate matter air pollution (ambient PM2.5) increases the risk of Covid infection, a systematic analysis \nhttps://t.co/RueG44Hk2m @MonashUni https://t.co/kpREoqJVPi",EricTopol,True,scientist
16,1619,1530931490636255232,"""We could have more Warp Speeds — for therapeutics, for ventilation systems, for rapid global provision of vaccine technology.""\nhttps://t.co/v54dznAqUF by @dwallacewells @nytopinion https://t.co/KxlIHrmYtZ",EricTopol,True,scientist
17,1619,1530931490636255232,https://t.co/9BEj4Ns973,EricTopol,True,scientist

In [3]:
authors = tweet_text.groupby('climate_author_type').count()
authors

,author_id,conversation_id,text,screen_name,is_climate_author
climate_author_type,,,,,
activist,4310,4310,4310,4310,4310
journalist,3145,3145,3145,3145,3145
non-governmental organisation,4000,4000,4000,4000,4000
organisation,2420,2420,2420,2420,2420
politician,2268,2268,2268,2268,2268
scientist,7294,7294,7294,7294,7294

In [4]:
tweet_links = tweet_text.loc[tweet_text['text'].str.contains("https://")]
tweet_links.head()

,author_id,conversation_id,text,screen_name,is_climate_author,climate_author_type
12,1618,1104050523089580034,"The level of carbon now in the atmosphere hasn’t been seen in 12 million years and this pollution is rapidly pushing the climate back to its state in the Eocene, more than 33 million years ago when there was no ice on either pole. Time for carbon #drawdown https://t.co/zJWKadIvKR",climate_ice,True,scientist
14,1619,1598785179417399296,"On air pollution, aging, and how it compromises our ability to fight infections\nhttps://t.co/dipDS37QBo\n@NatureMedicine",EricTopol,True,scientist
15,1619,1593290345646694401,"Strong evidence that particulate matter air pollution (ambient PM2.5) increases the risk of Covid infection, a systematic analysis \nhttps://t.co/RueG44Hk2m @MonashUni https://t.co/kpREoqJVPi",EricTopol,True,scientist
16,1619,1530931490636255232,"""We could have more Warp Speeds — for therapeutics, for ventilation systems, for rapid global provision of vaccine technology.""\nhttps://t.co/v54dznAqUF by @dwallacewells @nytopinion https://t.co/KxlIHrmYtZ",EricTopol,True,scientist
17,1619,1530931490636255232,https://t.co/9BEj4Ns973,EricTopol,True,scientist

In [5]:
tweet_mentions = tweet_text.loc[tweet_text['text'].str.contains("@")]
tweet_mentions.head()

,author_id,conversation_id,text,screen_name,is_climate_author,climate_author_type
14,1619,1598785179417399296,"On air pollution, aging, and how it compromises our ability to fight infections\nhttps://t.co/dipDS37QBo\n@NatureMedicine",EricTopol,True,scientist
15,1619,1593290345646694401,"Strong evidence that particulate matter air pollution (ambient PM2.5) increases the risk of Covid infection, a systematic analysis \nhttps://t.co/RueG44Hk2m @MonashUni https://t.co/kpREoqJVPi",EricTopol,True,scientist
16,1619,1530931490636255232,"""We could have more Warp Speeds — for therapeutics, for ventilation systems, for rapid global provision of vaccine technology.""\nhttps://t.co/v54dznAqUF by @dwallacewells @nytopinion https://t.co/KxlIHrmYtZ",EricTopol,True,scientist
18,1619,1519656711455313921,"Important new @nature study and thread on how climate change drives virus spillovers from animals, the heightened risk of future pandemics, along with @edyong209's contextualization https://t.co/RAVYTiTyrM https://t.co/sqmAxpkprT",EricTopol,True,scientist
46,451,1590978551523704833,"Wir freuen enorm über die Begleitung des Orchesters @Lebenslaute, das auch selbst eine Straße am Frankfurter Tor blockiert und dabei klassische Musik spielt.\n💚\nWir sind uns einig: es fühlt sich vollkommen irreal an, mit dem Wissen, was los ist, weiter zu machen, als wäre nichts. https://t.co/wDydMQY0Hz",AufstandLastGen,True,non-governmental organisation

In [6]:
tweet_len = tweet_text
tweet_len['text_length'] = tweet_len['text'].str.len()
tweet_len.head()

,author_id,conversation_id,text,screen_name,is_climate_author,climate_author_type,text_length
12,1618,1104050523089580034,"The level of carbon now in the atmosphere hasn’t been seen in 12 million years and this pollution is rapidly pushing the climate back to its state in the Eocene, more than 33 million years ago when there was no ice on either pole. Time for carbon #drawdown https://t.co/zJWKadIvKR",climate_ice,True,scientist,280
14,1619,1598785179417399296,"On air pollution, aging, and how it compromises our ability to fight infections\nhttps://t.co/dipDS37QBo\n@NatureMedicine",EricTopol,True,scientist,119
15,1619,1593290345646694401,"Strong evidence that particulate matter air pollution (ambient PM2.5) increases the risk of Covid infection, a systematic analysis \nhttps://t.co/RueG44Hk2m @MonashUni https://t.co/kpREoqJVPi",EricTopol,True,scientist,190
16,1619,1530931490636255232,"""We could have more Warp Speeds — for therapeutics, for ventilation systems, for rapid global provision of vaccine technology.""\nhttps://t.co/v54dznAqUF by @dwallacewells @nytopinion https://t.co/KxlIHrmYtZ",EricTopol,True,scientist,205
17,1619,1530931490636255232,https://t.co/9BEj4Ns973,EricTopol,True,scientist,23

In [7]:
author_mention = tweet_mentions.groupby('climate_author_type').count() /authors
author_mention

,author_id,conversation_id,text,screen_name,is_climate_author
climate_author_type,,,,,
activist,0.631787,0.631787,0.631787,0.631787,0.631787
journalist,0.535771,0.535771,0.535771,0.535771,0.535771
non-governmental organisation,0.392500,0.392500,0.392500,0.392500,0.392500
organisation,0.614876,0.614876,0.614876,0.614876,0.614876
politician,0.418430,0.418430,0.418430,0.418430,0.418430
scientist,0.626679,0.626679,0.626679,0.626679,0.626679

In [8]:
authors_links = tweet_links.groupby('climate_author_type').count() / authors
authors_links

,author_id,conversation_id,text,screen_name,is_climate_author
climate_author_type,,,,,
activist,0.359397,0.359397,0.359397,0.359397,0.359397
journalist,0.399046,0.399046,0.399046,0.399046,0.399046
non-governmental organisation,0.620000,0.620000,0.620000,0.620000,0.620000
organisation,0.613223,0.613223,0.613223,0.613223,0.613223
politician,0.515873,0.515873,0.515873,0.515873,0.515873
scientist,0.519194,0.519194,0.519194,0.519194,0.519194

In [9]:
authors_tweet_len = tweet_len.groupby('climate_author_type').median()
authors_tweet_len = authors_tweet_len.drop(columns=['author_id', 'is_climate_author', 'conversation_id'])
authors_tweet_len

                               text_length
climate_author_type
activist                             220.0
journalist                           227.0
non-governmental organisation        248.0
organisation                         268.0
politician                           258.0
scientist                            232.0